@import url(../node_modules/modern-normalize/modern-normalize.css);
@import url(../public/inter/inter.css);

:root
{
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal)
{
	:root { font-family: InterVariable, sans-serif; }
}

.cdk-drag-placeholder
{
	opacity: .5;
}