:host
{
	flex: 0 0 200px;
}

header
{
	display: flex;
	justify-content: space-between;
	padding: 4px;
	font-size: 14px;
}

h2
{
	margin: 0;
	font-size: inherit;
	white-space: nowrap;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.count
{
	color: rgb(140, 140, 140);
}

.container
{
	display: flex;
	flex-direction: column;
	padding: 4px;
	background-color: rgba(240, 240, 240);
	border-radius: 12px;
	min-height: 100px;;
	border: 1px solid rgba(220, 220, 220);
}